.wrapper{
	height: 1500px;
	width: 100%;


}
.box{
	height: 1500px;
	width: 25%;
	background-color: pink;

}
.main{
	height: 1500px;
	width: 75%;
	background-image: url("pics/farmer1.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}
